In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('entity_type.csv')
entity_type_list = df['entity_type'].tolist()
entity_type_list

['med_exam',
 'location',
 'time',
 'profession',
 'name',
 'money',
 'organization',
 'family',
 'ID',
 'clinical_event',
 'education',
 'contact',
 'others']

In [3]:
def predicting_txt_to_dataframe(path):    
    with open(path, 'r') as f:
        txt = str(f.read())
        txt_list = txt.split('\n')
    row_list = list()
    tmp_list = list()
    for row in txt_list:
        if row == '--------------------':
            tmp_list[0] = tmp_list[0].replace('article_id:', '')
            tmp_list[0] = int(tmp_list[0])
            row_list.append(tmp_list)
            tmp_list = list()
            continue
        if len(row) > 0:
            tmp_list.append(row)
    df = pd.DataFrame(row_list, columns=['article_id','text'])
    return df

In [4]:
df = predicting_txt_to_dataframe('/home/Danny/AI-CUP-2020/datasets/stage5/test.txt')
df

     article_id                                               text
0             0  醫師：最近人有沒有什麼不舒服？民眾：沒有。醫師：沒有喔。我們本來說要月，年底才打對不對？民眾...
1             1  醫師：要去上課嗎？民眾：沒有。這學期已經開始不上課了。醫師：啊今天的，呃，應該是昨天的抽血。...
2             2  醫師：後來那個吃藥沒有問題對不對？民眾：沒有。醫師：诶？你是打針的？民眾：對。醫師：阿身上有...
3             3  民眾：我自己昨天開始，一天吃一次一粒。醫師：一次一粒，減半量還好？民眾：阿可是……減到今天早...
4             4  醫師：喔，啊嘉明最近還好嗎？民眾：ＯＫ。醫師：啊今年的流感打了嗎？民眾：還沒。醫師：那我們今...
..          ...                                                ...
154         154  醫師：這個月還好嗎？民眾：就……醫師：這個月有去碰嗎？民眾：沒有，不去碰的時候就會覺得慾望非...
155         155  醫師：啊這個月還好嗎？民眾：還好啊。醫師：好，所以你反正天天吃啦齁？民眾：對。醫師：好，我們...
156         156  醫師：好那所以總之就是好，所以總之反正，總之就是……這這……就是反正你剩下的藥你就是……就是...
157         157  醫師：好，所以第一個月吃藥的狀況怎麼樣？民眾：嗯，吃藥狀況喔？醫師：嗯。民眾：就是吃了，一開...
158         158  個管師：你上次有領了啊哈。民眾：我知道啊。個管師：你怎麼就是用後不理了呢？民眾：不是……醫師...

[159 rows x 2 columns]

In [5]:
def get_identity_ID(article_id, text):
    output_str = str()
    entity_type = 'ID'
    source = 'regular_expression'
    for match in re.finditer('[a-zA-Z]{1}[0-9]{9}', text):
        output_str += '{}\t{}\t{}\t{}\t{}\t{}\n'.format(article_id, match.start(), match.end(), match.group(), entity_type, source)
    return output_str

In [6]:
def get_phone_number(article_id, text):
    output_str = str()
    entity_type = 'contact'
    source = 'regular_expression'
    for match in re.finditer('[0-9]{10}', text):
        output_str += '{}\t{}\t{}\t{}\t{}\t{}\n'.format(article_id, match.start(), match.end(), match.group(), entity_type, source)
    return output_str

In [7]:
output_str = '{}\t{}\t{}\t{}\t{}\t{}\n'.format('article_id', 'start_position', 'end_position', 'entity_text', 'entity_type', 'source')
for article_id, text in zip(df['article_id'], df['text']):
    output_str += get_identity_ID(article_id, text)
    output_str += get_phone_number(article_id, text)
print(output_str)

article_id	start_position	end_position	entity_text	entity_type	source
9	7	17	E127388873	ID	regular_expression
13	1273	1283	E137354975	ID	regular_expression
35	1801	1811	R103846354	ID	regular_expression
36	1115	1125	E183745524	ID	regular_expression
38	766	776	0935642234	contact	regular_expression
40	499	509	E184666204	ID	regular_expression
44	6	16	R113566480	ID	regular_expression
46	384	394	0933625337	contact	regular_expression
49	8	18	R113993846	ID	regular_expression
51	20	30	R334666726	ID	regular_expression
63	6	16	R234526780	ID	regular_expression
65	2301	2311	F178290737	ID	regular_expression
90	1525	1535	R223640298	ID	regular_expression
91	3	13	A184058370	ID	regular_expression
92	1423	1433	A148390275	ID	regular_expression
93	802	812	E128739467	ID	regular_expression
93	803	813	1287394675	contact	regular_expression
103	633	643	S137465537	ID	regular_expression
121	996	1006	A289370198	ID	regular_expression
126	743	753	R147380478	ID	regular_expression
142	15	25	R100382694	ID	regular_expression
143	808	818	0927773645	contact	regular_expression
146	6	16	E189370256	ID	regular_expression
158	1380	1390	A124699678	ID	regular_expression

In [8]:
with open('regular_expression.tsv', 'w', encoding='utf-8') as f:
    f.write(output_str)

In [9]:
df = pd.read_csv('regular_expression.tsv', sep='\t')
df

,article_id,start_position,end_position,entity_text,entity_type,source
0,9,7,17,E127388873,ID,regular_expression
1,13,1273,1283,E137354975,ID,regular_expression
2,35,1801,1811,R103846354,ID,regular_expression
3,36,1115,1125,E183745524,ID,regular_expression
4,38,766,776,0935642234,contact,regular_expression
5,40,499,509,E184666204,ID,regular_expression
6,44,6,16,R113566480,ID,regular_expression
7,46,384,394,0933625337,contact,regular_expression
8,49,8,18,R113993846,ID,regular_expression
9,51,20,30,R334666726,ID,regular_expression
10,63,6,16,R234526780,ID,regular_expression
11,65,2301,2311,F178290737,ID,regular_expression
12,90,1525,1535,R223640298,ID,regular_expression
13,91,3,13,A184058370,ID,regular_expression
14,92,1423,1433,A148390275,ID,regular_expression
15,93,802,812,E128739467,ID,regular_expression
16,93,803,813,1287394675,contact,regular_expression
17,103,633,643,S137465537,ID,regular_expression
18,121,996,1006,A289370198,ID,regular_expression
19,126,743,753,R147380478,ID,regular_expression
20,142,15,25,R100382694,ID,regular_expression
21,143,808,818,0927773645,contact,regular_expression
22,146,6,16,E189370256,ID,regular_expression
23,158,1380,1390,A124699678,ID,regular_expression