In [1]:
import re
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
# 不用儲存article_id, 轉成list
def training_txt_to_list(path):
    with open(path, 'r') as f:
        txt = str(f.read())
    txt_list = txt.split('\n')
    text_label_list = list()
    tmp = list()
    for line in txt_list:
        if line == '--------------------':
            text_label_list.append(tmp)
            tmp = list()
            continue
        if line == '':
            continue
        tmp.append(line)
    x = list()
    y = list()
    for text_label in text_label_list:
        text = text_label[0]
        label = text_label[2:]
        label_list = ['O' for i in range(len(text))]
        for i in label:
            entity = i.split('\t')
            if int(entity[1]) > int(entity[2]):
                continue
            b = int(entity[1])
            label_list[b] = 'B-{}'.format(entity[-1])
            for j in range(int(entity[1])+1, int(entity[2])):
                label_list[j] = 'I-{}'.format(entity[-1])
        for i, j in enumerate(text):
            if j == '，' or j == '。' or j == '？':
                label_list[i] = j
                
        text_list = re.split('\uff0c|\u3002|\uff1f', text)
        for sentence in text_list:
            x.append([i for i in sentence])
        x = x[:-1]
            
        sentence = list()
        for i in label_list:
            if i == '，' or i == '。' or i == '？':
                y.append(sentence)
                sentence = list()
            else:
                sentence.append(i)
                
    return [x, y]

In [3]:
x1, y1 = training_txt_to_list('/home/Danny/AI-CUP-2020/datasets/stage1/SampleData_deid.txt')
x2, y2 = training_txt_to_list('/home/Danny/AI-CUP-2020/datasets/stage2/train_1_update.txt')
x4, y4 = training_txt_to_list('/home/Danny/AI-CUP-2020/datasets/stage4/train_2.txt')

In [4]:
x = x1 + x2 + x4
y = y1 + y2 + y4
print(len(x))
print(len(y))

76162
76162

In [5]:
df = pd.DataFrame({'x': x, 'y': y})

In [6]:
df['x'] = df['x'].apply(lambda row : str(row))
df['y'] = df['y'].apply(lambda row : str(row))
df = df.drop_duplicates()
df['x'] = df['x'].apply(lambda row : eval(row))
df['y'] = df['y'].apply(lambda row : eval(row))
df

,x,y
0,"[醫, 師, ：, 你, 有, 做, 超, 音, 波, 嘛]","[O, O, O, O, O, O, O, O, O, O]"
1,"[那, 我, 們, 來, 看, 報, 告]","[O, O, O, O, O, O, O]"
2,"[有, 些, 部, 分, 有, 紅, 字, 耶]","[O, O, O, O, O, O, O, O]"
3,"[民, 眾, ：, 紅, 字, 是, 甚, 麼, 意, 思]","[O, O, O, O, O, O, O, O, O, O]"
4,"[醫, 師, ：, 就, 是, 肝, 功, 能, 有, 比, 較, 高]","[O, O, O, O, O, O, O, O, O, O, O, O]"
...,...,...
75713,"[醫, 師, ：, 7, 4, 0, 3]","[O, O, O, B-ID, I-ID, I-ID, I-ID]"
75714,"[醫, 師, ：, 6, 6, 6, 0, 8, 9, 7, 4, 0, 3]","[O, O, O, B-ID, I-ID, I-ID, I-ID, I-ID, I-ID, ..."
75716,"[護, 理, 師, ：, 6, 6, 6, 0, 9, 8]","[O, O, O, O, B-ID, I-ID, I-ID, I-ID, I-ID, I-ID]"
75717,"[醫, 師, ：, 0, 9, 8, 7, 4, 0, 3]","[O, O, O, B-ID, I-ID, I-ID, I-ID, I-ID, I-ID, ..."
76102,"[好, 像, 是, 那, 時, 候, 跑, 完, 6, 0, 0, 0, 公, 尺]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O]"

In [7]:
df = df.reset_index(drop=True)
df

,x,y
0,"[醫, 師, ：, 你, 有, 做, 超, 音, 波, 嘛]","[O, O, O, O, O, O, O, O, O, O]"
1,"[那, 我, 們, 來, 看, 報, 告]","[O, O, O, O, O, O, O]"
2,"[有, 些, 部, 分, 有, 紅, 字, 耶]","[O, O, O, O, O, O, O, O]"
3,"[民, 眾, ：, 紅, 字, 是, 甚, 麼, 意, 思]","[O, O, O, O, O, O, O, O, O, O]"
4,"[醫, 師, ：, 就, 是, 肝, 功, 能, 有, 比, 較, 高]","[O, O, O, O, O, O, O, O, O, O, O, O]"
...,...,...
31516,"[醫, 師, ：, 7, 4, 0, 3]","[O, O, O, B-ID, I-ID, I-ID, I-ID]"
31517,"[醫, 師, ：, 6, 6, 6, 0, 8, 9, 7, 4, 0, 3]","[O, O, O, B-ID, I-ID, I-ID, I-ID, I-ID, I-ID, ..."
31518,"[護, 理, 師, ：, 6, 6, 6, 0, 9, 8]","[O, O, O, O, B-ID, I-ID, I-ID, I-ID, I-ID, I-ID]"
31519,"[醫, 師, ：, 0, 9, 8, 7, 4, 0, 3]","[O, O, O, B-ID, I-ID, I-ID, I-ID, I-ID, I-ID, ..."
31520,"[好, 像, 是, 那, 時, 候, 跑, 完, 6, 0, 0, 0, 公, 尺]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O]"

In [8]:
def find_contain_entity_rows(labels):
    dic_temp = {}
    dummy = 0
    for label in labels:
        dic_temp[label] = dummy
    #if len(dic_temp) > 1:
    #    return True
    if 'B-education' in dic_temp:
        return True
    else:
        return False
df['flag'] = df['y'].apply(lambda l:find_contain_entity_rows(l))

In [16]:
df_entity = df[df['flag'] == True]

In [17]:
df_entity = df_entity.reset_index(drop=True)

In [18]:
df_entity = df_entity.drop(index=[4])
df_entity= df_entity.reset_index(drop=True)

In [19]:
df_entity

,x,y,flag
0,"[也, 一, 樣, 在, 哈, 佛]","[O, O, O, O, B-education, I-education]",True
1,"[醫, 師, ：, 哈, 佛]","[O, O, O, B-education, I-education]",True
2,"[因, 為, 我, 讀, 藥, 學]","[O, O, O, O, B-education, I-education]",True
3,"[現, 在, 在, 讀, 台, 大, 經, 濟, 系, 啦]","[O, O, O, O, B-education, I-education, I-educa...",True

In [22]:
education_df = pd.read_csv('../dictionary/online/education.csv')
aug_df = pd.DataFrame([],columns=['x','y'])
aug_df

Empty DataFrame
Columns: [x, y]
Index: []

In [25]:
import random
for index, row in df_entity.iterrows():
    entity_start_pos = 0
    entity_end_pos = -1
    start_flag = False
    for i in range(len(row['y'])):
        if row['y'][i] == 'B-education':
            entity_start_pos = i
            start_flag = True
        elif row['y'][i] == 'O' and start_flag == True:
            entity_end_pos = i
            break
        else:
            continue
    for j in range(1000):
        idx = random.randint(0,74796)
        entity = education_df['entity_text'].tolist()[idx]
        sentence = []
        labels = []
        count = 0
        for i in range(entity_start_pos):
            sentence.append(row['x'][i])
            labels.append('O')
        sentence.append(entity[0])
        labels.append('B-education')
        for i in range(1,len(entity)):
            sentence.append(entity[i])
            labels.append('I-education')
        if entity_end_pos != -1:
            for i in range(entity_end_pos,len(row['x'])):
                sentence.append(row['x'][i])
                labels.append('O')
        #print(sentence)
        #print(labels)
        if len(sentence) != len(labels):
            print('Wrong')
        aug_df = aug_df.append({'x':sentence,'y':labels},ignore_index=True)

In [26]:
aug_df

,x,y
0,"[也, 一, 樣, 在, 美, 嘉, 基, 督, 書, 院, 護, 理]","[O, O, O, O, B-education, I-education, I-educa..."
1,"[也, 一, 樣, 在, 淡, 江, 大, 學, 經, 濟, 系]","[O, O, O, O, B-education, I-education, I-educa..."
2,"[也, 一, 樣, 在, 國, 立, 高, 雄, 大, 學, 物, 理, 學, 系]","[O, O, O, O, B-education, I-education, I-educa..."
3,"[也, 一, 樣, 在, 國, 立, 成, 功, 大, 學, 農, 藝]","[O, O, O, O, B-education, I-education, I-educa..."
4,"[也, 一, 樣, 在, 國, 立, 台, 東, 大, 學, 森, 林, 環, 境, 暨, ...","[O, O, O, O, B-education, I-education, I-educa..."
...,...,...
3995,"[現, 在, 在, 讀, 高, 雄, 師, 範, 大, 學, 政, 治, 學, 系, 啦]","[O, O, O, O, B-education, I-education, I-educa..."
3996,"[現, 在, 在, 讀, 國, 立, 虎, 尾, 科, 技, 大, 學, 社, 會, 工, ...","[O, O, O, O, B-education, I-education, I-educa..."
3997,"[現, 在, 在, 讀, 臺, 北, 護, 理, 健, 康, 大, 學, 地, 質, 科, 啦]","[O, O, O, O, B-education, I-education, I-educa..."
3998,"[現, 在, 在, 讀, 國, 立, 臺, 東, 專, 科, 學, 校, 工, 商, 管, ...","[O, O, O, O, B-education, I-education, I-educa..."
3999,"[現, 在, 在, 讀, 明, 道, 大, 學, 生, 物, 環, 境, 系, 統, 工, ...","[O, O, O, O, B-education, I-education, I-educa..."

In [27]:
aug_df = aug_df.sample(500)
aug_df = aug_df.reset_index(drop=True)
aug_df

,x,y
0,"[也, 一, 樣, 在, 台, 北, 基, 督, 學, 院, 森, 林, 環, 境, 暨, ...","[O, O, O, O, B-education, I-education, I-educa..."
1,"[因, 為, 我, 讀, 大, 同, 大, 學, 生, 物, 機, 電, 工, 程]","[O, O, O, O, B-education, I-education, I-educa..."
2,"[因, 為, 我, 讀, 中, 信, 金, 融, 管, 理, 學, 院, 工, 商, 管, 理]","[O, O, O, O, B-education, I-education, I-educa..."
3,"[也, 一, 樣, 在, 南, 亞, 技, 術, 學, 院, 地, 理, 環, 境, 資, ...","[O, O, O, O, B-education, I-education, I-educa..."
4,"[也, 一, 樣, 在, 天, 主, 教, 臺, 灣, 總, 修, 院, 大, 氣, 科]","[O, O, O, O, B-education, I-education, I-educa..."
...,...,...
495,"[現, 在, 在, 讀, 靈, 糧, 教, 牧, 宣, 教, 神, 學, 院, 森, 林, ...","[O, O, O, O, B-education, I-education, I-educa..."
496,"[因, 為, 我, 讀, 南, 臺, 科, 技, 大, 學]","[O, O, O, O, B-education, I-education, I-educa..."
497,"[醫, 師, ：, 宏, 國, 德, 霖, 科, 技, 大, 學, 物, 理, 治, 療, ...","[O, O, O, B-education, I-education, I-educatio..."
498,"[因, 為, 我, 讀, 國, 立, 臺, 灣, 大, 學, 生, 物, 產, 業, 傳, ...","[O, O, O, O, B-education, I-education, I-educa..."
499,"[現, 在, 在, 讀, 育, 達, 科, 技, 大, 學, 生, 化, 科, 技, 啦]","[O, O, O, O, B-education, I-education, I-educa..."

In [28]:
aug_df.to_csv('../datasets/education.csv',index=False)