In [1]:
import pandas as pd

In [2]:
ensemble_df = pd.DataFrame(columns=['article_id', 'start_position', 'end_position', 'entity_text', 'entity_type', 'source'])
ensemble_df

Empty DataFrame
Columns: [article_id, start_position, end_position, entity_text, entity_type, source]
Index: []

In [3]:
bert_df = pd.read_csv('/home/Danny/ai-cup-2020/danny/bert/output/bert-chinese_epoch_512_batch_1024.tsv', sep='\t')
bert_df['source'] = '3-bert'
bert_df

      article_id  start_position  end_position entity_text entity_type  source
0              0              36            38          年底        time  3-bert
1              0             113           115          今天        time  3-bert
2              0             198           200          新樓    location  3-bert
3              0             227           229          麻豆    location  3-bert
4              0             237           239          麻豆    location  3-bert
...          ...             ...           ...         ...         ...     ...
3095         158            1074          1076          今天        time  3-bert
3096         158            1082          1086        第三個月        time  3-bert
3097         158            1143          1145          今天        time  3-bert
3098         158            1199          1201          小安        name  3-bert
3099         158            1381          1390   124699678    med_exam  3-bert

[3100 rows x 6 columns]

In [4]:
# entity_type_list = pd.unique(bert_df['entity_type']).tolist()
# for entity_type in entity_type_list:
#     bert_df[bert_df['entity_type'] == entity_type].to_csv('bert/{}.tsv'.format(entity_type), sep='\t', index=False)

In [5]:
bert_df = bert_df.drop(bert_df[bert_df['entity_type'] == 'ID'].index)
bert_df = bert_df.drop(bert_df[bert_df['entity_type'] == 'contact'].index)
bert_df

      article_id  start_position  end_position entity_text entity_type  source
0              0              36            38          年底        time  3-bert
1              0             113           115          今天        time  3-bert
2              0             198           200          新樓    location  3-bert
3              0             227           229          麻豆    location  3-bert
4              0             237           239          麻豆    location  3-bert
...          ...             ...           ...         ...         ...     ...
3095         158            1074          1076          今天        time  3-bert
3096         158            1082          1086        第三個月        time  3-bert
3097         158            1143          1145          今天        time  3-bert
3098         158            1199          1201          小安        name  3-bert
3099         158            1381          1390   124699678    med_exam  3-bert

[3059 rows x 6 columns]

In [6]:
re_df = pd.read_csv('/home/Danny/ai-cup-2020/regular_expression/regular_expression.tsv', sep='\t')
re_df

    article_id  start_position  end_position   entity_text entity_type source
0            4             174           179         14/66        time   1-re
1            9               7            17    E127388873          ID   1-re
2           11            5191          5196         11/29        time   1-re
3           11            5210          5215         11/29        time   1-re
4           13            1273          1283    E137354975          ID   1-re
5           17             710           714          9/15        time   1-re
6           21             137           141          6/14        time   1-re
7           35            1801          1811    R103846354          ID   1-re
8           36            1115          1125    E183745524          ID   1-re
9           38             766           776    0935642234     contact   1-re
10          40             499           509    E184666204          ID   1-re
11          44               6            16    R113566480          ID   1-re
12          45            3210          3213           1/3        time   1-re
13          45            3217          3220           7/3        time   1-re
14          45            3224          3227           1/3        time   1-re
15          45            3231          3234           1/3        time   1-re
16          46             384           394    0933625337     contact   1-re
17          49               8            18    R113993846          ID   1-re
18          51              20            30    R334666726          ID   1-re
19          57             488           492          3/11        time   1-re
20          57             511           515          5/24        time   1-re
21          57             525           529          4/23        time   1-re
22          62            1894          1899         10/15        time   1-re
23          63               6            16    R234526780          ID   1-re
24          65            2301          2311    F178290737          ID   1-re
25          77            1209          1213          2/10        time   1-re
26          77            1690          1694          2/10        time   1-re
27          79             671           676         11/23        time   1-re
28          83            2115          2119          7/12        time   1-re
29          83            2126          2130          7/12        time   1-re
30          83            2137          2141          7/12        time   1-re
31          83            2160          2164          7/15        time   1-re
32          83            2181          2185          7/12        time   1-re
33          83            2188          2192          7/13        time   1-re
34          83            2193          2197          7/14        time   1-re
35          83            2204          2208          7/13        time   1-re
36          83            2209          2213          7/14        time   1-re
37          83            2290          2294          7/15        time   1-re
38          83            2381          2385          7/15        time   1-re
39          90            1525          1535    R223640298          ID   1-re
40          91               3            13    A184058370          ID   1-re
41          92            1423          1433    A148390275          ID   1-re
42          93             802           813   E1287394675          ID   1-re
43         103             633           643    S137465537          ID   1-re
44         120            1768          1780  www.prep.com     contact   1-re
45         121             996          1006    A289370198          ID   1-re
46         126             743           753    R147380478          ID   1-re
47         142              15            25    R100382694          ID   1-re
48         143             808           818    0927773645     contact   1-re
49         146               6            16    E189370256          ID   1-re
50         153            1705          1708           1/3        time   1-re
51         153            1726          1729           1/3        time   1-re
52         153            1730          1733           1/3        time   1-re
53         158            1380          1390    A124699678          ID   1-re

In [7]:
dict_df = pd.read_csv('/home/Danny/ai-cup-2020/dictionary/dictionary.tsv', sep='\t')
dict_df

      article_id  start_position  end_position entity_text entity_type  source
0              0              36            38          年底        time  2-dict
1              0             113           115          今天        time  2-dict
2              0             227           229          麻豆    location  2-dict
3              0             237           239          麻豆    location  2-dict
4              0             295           297          今年        time  2-dict
...          ...             ...           ...         ...         ...     ...
3337         158            1113          1116         下個月        time  2-dict
3338         158            1143          1145          今天        time  2-dict
3339         158            1199          1201          小安        name  2-dict
3340         158            1353          1355          今天        time  2-dict
3341         158            1489          1491          明年        time  2-dict

[3342 rows x 6 columns]

In [8]:
ensemble_df = ensemble_df.append(bert_df, ignore_index=True)
ensemble_df = ensemble_df.append(re_df, ignore_index=True)
ensemble_df = ensemble_df.append(dict_df, ignore_index=True)
ensemble_df

     article_id start_position end_position entity_text entity_type  source
0             0             36           38          年底        time  3-bert
1             0            113          115          今天        time  3-bert
2             0            198          200          新樓    location  3-bert
3             0            227          229          麻豆    location  3-bert
4             0            237          239          麻豆    location  3-bert
...         ...            ...          ...         ...         ...     ...
6450        158           1113         1116         下個月        time  2-dict
6451        158           1143         1145          今天        time  2-dict
6452        158           1199         1201          小安        name  2-dict
6453        158           1353         1355          今天        time  2-dict
6454        158           1489         1491          明年        time  2-dict

[6455 rows x 6 columns]

In [9]:
ensemble_df = ensemble_df.sort_values(by=['article_id', 'start_position', 'source'])
ensemble_df

     article_id start_position end_position entity_text entity_type  source
3113          0             36           38          年底        time  2-dict
0             0             36           38          年底        time  3-bert
3114          0            113          115          今天        time  2-dict
1             0            113          115          今天        time  3-bert
2             0            198          200          新樓    location  3-bert
...         ...            ...          ...         ...         ...     ...
3057        158           1199         1201          小安        name  3-bert
6453        158           1353         1355          今天        time  2-dict
3112        158           1380         1390  A124699678          ID    1-re
3058        158           1381         1390   124699678    med_exam  3-bert
6454        158           1489         1491          明年        time  2-dict

[6455 rows x 6 columns]

In [10]:
ensemble_df[ensemble_df.duplicated(keep=False, subset=['article_id', 'start_position'])]

     article_id start_position end_position entity_text entity_type  source
3113          0             36           38          年底        time  2-dict
0             0             36           38          年底        time  3-bert
3114          0            113          115          今天        time  2-dict
1             0            113          115          今天        time  3-bert
3115          0            227          229          麻豆    location  2-dict
...         ...            ...          ...         ...         ...     ...
3055        158           1082         1086        第三個月        time  3-bert
6451        158           1143         1145          今天        time  2-dict
3056        158           1143         1145          今天        time  3-bert
6452        158           1199         1201          小安        name  2-dict
3057        158           1199         1201          小安        name  3-bert

[4346 rows x 6 columns]

In [11]:
ensemble_df = ensemble_df.drop_duplicates(keep='first', subset=['article_id', 'start_position'])
ensemble_df

     article_id start_position end_position entity_text entity_type  source
3113          0             36           38          年底        time  2-dict
3114          0            113          115          今天        time  2-dict
2             0            198          200          新樓    location  3-bert
3115          0            227          229          麻豆    location  2-dict
3116          0            237          239          麻豆    location  2-dict
...         ...            ...          ...         ...         ...     ...
6452        158           1199         1201          小安        name  2-dict
6453        158           1353         1355          今天        time  2-dict
3112        158           1380         1390  A124699678          ID    1-re
3058        158           1381         1390   124699678    med_exam  3-bert
6454        158           1489         1491          明年        time  2-dict

[4272 rows x 6 columns]

In [12]:
ensemble_df[ensemble_df.duplicated(keep=False, subset=['article_id', 'start_position'])]

Empty DataFrame
Columns: [article_id, start_position, end_position, entity_text, entity_type, source]
Index: []

In [13]:
ensemble_df[ensemble_df.duplicated(keep=False, subset=['article_id', 'end_position'])]

     article_id start_position end_position entity_text entity_type  source
59            4            173          179      114/66    med_exam  3-bert
3059          4            174          179       14/66        time    1-re
128           6            406          410        三、四週        time  3-bert
3201          6            408          410          四週        time  2-dict
129           6            415          419        三、四週        time  3-bert
...         ...            ...          ...         ...         ...     ...
2979        155           1780         1784        兩個禮拜        time  3-bert
2997        157             93           99      一、兩個小時        time  3-bert
6374        157             95           99        兩個小時        time  2-dict
3112        158           1380         1390  A124699678          ID    1-re
3058        158           1381         1390   124699678    med_exam  3-bert

[274 rows x 6 columns]

In [14]:
ensemble_df = ensemble_df.drop_duplicates(keep='first', subset=['article_id', 'end_position'])
ensemble_df

     article_id start_position end_position entity_text entity_type  source
3113          0             36           38          年底        time  2-dict
3114          0            113          115          今天        time  2-dict
2             0            198          200          新樓    location  3-bert
3115          0            227          229          麻豆    location  2-dict
3116          0            237          239          麻豆    location  2-dict
...         ...            ...          ...         ...         ...     ...
6451        158           1143         1145          今天        time  2-dict
6452        158           1199         1201          小安        name  2-dict
6453        158           1353         1355          今天        time  2-dict
3112        158           1380         1390  A124699678          ID    1-re
6454        158           1489         1491          明年        time  2-dict

[4135 rows x 6 columns]

In [15]:
ensemble_df[ensemble_df.duplicated(keep=False, subset=['article_id', 'end_position'])]

Empty DataFrame
Columns: [article_id, start_position, end_position, entity_text, entity_type, source]
Index: []

In [16]:
ensemble_df = ensemble_df.drop(columns=['source'])
ensemble_df = ensemble_df.drop_duplicates()
ensemble_df

     article_id start_position end_position entity_text entity_type
3113          0             36           38          年底        time
3114          0            113          115          今天        time
2             0            198          200          新樓    location
3115          0            227          229          麻豆    location
3116          0            237          239          麻豆    location
...         ...            ...          ...         ...         ...
6451        158           1143         1145          今天        time
6452        158           1199         1201          小安        name
6453        158           1353         1355          今天        time
3112        158           1380         1390  A124699678          ID
6454        158           1489         1491          明年        time

[4135 rows x 5 columns]

In [17]:
ensemble_df.to_csv('ensemble/ensemble_all.tsv', sep='\t', index=False)
entity_type_list = pd.unique(ensemble_df['entity_type']).tolist()
for entity_type in entity_type_list:
    ensemble_df[ensemble_df['entity_type'] == entity_type].to_csv('ensemble/{}.tsv'.format(entity_type), sep='\t', index=False)

In [ ]:
def drop_subset_duplicates():

In [34]:
drop_subset_duplicates_list = list()
for index, row in ensemble_df.iterrows():
    article_id = row['article_id']
    start_position = row['start_position']
    end_position = row['end_position']
    entity_text = row['entity_text']
    entity_type = row['entity_type']                
    for index2, row2 in ensemble_df[ensemble_df['article_id'] == article_id].iterrows():
        start_position2 = row2['start_position']
        end_position2 = row2['end_position']
        
        if index != index2 and start_position >= start_position2 and end_position <= end_position2:
            print(row)
            print(row2)
            print()
            drop_subset_duplicates_list.append(index)

article_id           7
start_position      78
end_position        81
entity_text        三點半
entity_type       time
Name: 3224, dtype: object
article_id             7
start_position        76
end_position          82
entity_text       兩、三點半夜
entity_type         time
Name: 147, dtype: object

article_id          11
start_position    2937
end_position      2939
entity_text         三年
entity_type       time
Name: 3317, dtype: object
article_id          11
start_position    2936
end_position      2940
entity_text       兩三年前
entity_type       time
Name: 3316, dtype: object

article_id          23
start_position     591
end_position       595
entity_text       一個禮拜
entity_type       time
Name: 3509, dtype: object
article_id            23
start_position       590
end_position         596
entity_text       快一個禮拜多
entity_type         time
Name: 3508, dtype: object

article_id          28
start_position     979
end_position       982
entity_text        十五歲
entity_type       time
Name: 3567, dtype: object
article_id            28
start_position       978
end_position         984
entity_text       六十五歲以後
entity_type         time
Name: 3566, dtype: object

article_id          28
start_position    1176
end_position      1179
entity_text        十五歲
entity_type       time
Name: 3574, dtype: object
article_id            28
start_position      1175
end_position        1181
entity_text       六十五歲以下
entity_type         time
Name: 3573, dtype: object

article_id          41
start_position     602
end_position       604
entity_text         六點
entity_type       time
Name: 3735, dtype: object
article_id              41
start_position         600
end_position           605
entity_text          五八六點七
entity_type       med_exam
Name: 708, dtype: object

article_id         46
start_position    388
end_position      391
entity_text       625
entity_type        ID
Name: 3826, dtype: object
article_id                46
start_position           384
end_position             394
entity_text       0933625337
entity_type          contact
Name: 3075, dtype: object

article_id          63
start_position       8
end_position        12
entity_text       3452
entity_type         ID
Name: 4085, dtype: object
article_id                63
start_position             6
end_position              16
entity_text       R234526780
entity_type               ID
Name: 3082, dtype: object

article_id          70
start_position    1865
end_position      1867
entity_text         3點
entity_type       time
Name: 4315, dtype: object
article_id                  70
start_position            1858
end_position              1870
entity_text       9點11分到13點16分
entity_type               time
Name: 4314, dtype: object

article_id          70
start_position    1924
end_position      1926
entity_text         0點
entity_type       time
Name: 4319, dtype: object
article_id            70
start_position      1923
end_position        1929
entity_text       10點55分
entity_type         time
Name: 4318, dtype: object

article_id          70
start_position    1936
end_position      1938
entity_text         1點
entity_type       time
Name: 4321, dtype: object
article_id               70
start_position         1932
end_position           1941
entity_text       晚上的21點03分
entity_type            time
Name: 4320, dtype: object

article_id          79
start_position    1529
end_position      1531
entity_text         上個
entity_type       time
Name: 4470, dtype: object
article_id           79
start_position     1528
end_position       1533
entity_text       上上個星期
entity_type        time
Name: 4469, dtype: object

article_id          79
start_position    1687
end_position      1691
entity_text       下個禮拜
entity_type       time
Name: 4477, dtype: object
article_id            79
start_position      1686
end_position        1692
entity_text       下下個禮拜二
entity_type         time
Name: 4476, dtype: object

article_id          83
start_position    2717
end_position      2719
entity_text         兩天
entity_type       time
Name: 4611, dtype: object
article_id            83
start_position      2715
end_position        2721
entity_text       17兩天下午
entity_type         time
Name: 1587, dtype: object

article_id          85
start_position     901
end_position       903
entity_text         清晨
entity_type       time
Name: 4699, dtype: object
article_id             85
start_position        899
end_position          906
entity_text       今天清晨兩點半
entity_type          time
Name: 4698, dtype: object

article_id          85
start_position    2038
end_position      2040
entity_text         一年
entity_type       time
Name: 1680, dtype: object
article_id            85
start_position      2035
end_position        2041
entity_text       半年、一年後
entity_type         time
Name: 4705, dtype: object

article_id         107
start_position     876
end_position       878
entity_text         0點
entity_type       time
Name: 5024, dtype: object
article_id         107
start_position     875
end_position       879
entity_text       10點半
entity_type       time
Name: 5023, dtype: object

article_id         107
start_position    1154
end_position      1156
entity_text         0點
entity_type       time
Name: 5036, dtype: object
article_id         107
start_position    1153
end_position      1157
entity_text       10點多
entity_type       time
Name: 5035, dtype: object

article_id         107
start_position    1159
end_position      1161
entity_text         0點
entity_type       time
Name: 5038, dtype: object
article_id         107
start_position    1158
end_position      1162
entity_text       10點多
entity_type       time
Name: 5037, dtype: object

article_id         110
start_position      23
end_position        25
entity_text         八點
entity_type       time
Name: 5119, dtype: object
article_id          110
start_position       21
end_position         26
entity_text       七十八點二
entity_type        time
Name: 5118, dtype: object

article_id         110
start_position      33
end_position        35
entity_text         八點
entity_type       time
Name: 5121, dtype: object
article_id          110
start_position       31
end_position         36
entity_text       七十八點二
entity_type        time
Name: 5120, dtype: object

article_id         114
start_position    2428
end_position      2430
entity_text         5年
entity_type       time
Name: 5242, dtype: object
article_id         114
start_position    2427
end_position      2431
entity_text       65年次
entity_type       time
Name: 2226, dtype: object

article_id         115
start_position      42
end_position        45
entity_text        11月
entity_type       time
Name: 5246, dtype: object
article_id                115
start_position             36
end_position               47
entity_text       10月20到11月1號
entity_type              time
Name: 5245, dtype: object

article_id         115
start_position     799
end_position       801
entity_text         三年
entity_type       time
Name: 5253, dtype: object
article_id          115
start_position      798
end_position        803
entity_text       兩三年過後
entity_type        time
Name: 5252, dtype: object

article_id         117
start_position     474
end_position       476
entity_text         5月
entity_type       time
Name: 5304, dtype: object
article_id                      117
start_position                  469
end_position                    486
entity_text       5月20，5月21，5月22，5月
entity_type                    time
Name: 5303, dtype: object

article_id         117
start_position     479
end_position       481
entity_text         5月
entity_type       time
Name: 5305, dtype: object
article_id                      117
start_position                  469
end_position                    486
entity_text       5月20，5月21，5月22，5月
entity_type                    time
Name: 5303, dtype: object

article_id         117
start_position     859
end_position       861
entity_text         9號
entity_type       time
Name: 5328, dtype: object
article_id            117
start_position        856
end_position          863
entity_text       9月19號8點
entity_type          time
Name: 5327, dtype: object

article_id          126
start_position      747
end_position        750
entity_text         380
entity_type       money
Name: 5499, dtype: object
article_id               126
start_position           743
end_position             753
entity_text       R147380478
entity_type               ID
Name: 3105, dtype: object

article_id          130
start_position     1172
end_position       1177
entity_text       1月10號
entity_type        time
Name: 5570, dtype: object
article_id              130
start_position         1171
end_position           1180
entity_text       11月10號的9點
entity_type            time
Name: 5569, dtype: object

article_id         131
start_position     736
end_position       738
entity_text         7號
entity_type       time
Name: 5600, dtype: object
article_id             131
start_position         733
end_position           741
entity_text       11月7號的晚上
entity_type           time
Name: 5599, dtype: object

article_id         138
start_position    1154
end_position      1156
entity_text         7號
entity_type       time
Name: 5749, dtype: object
article_id              138
start_position         1151
end_position           1160
entity_text       12月7號到22號
entity_type            time
Name: 5748, dtype: object

article_id         147
start_position    1286
end_position      1288
entity_text         一年
entity_type       time
Name: 2742, dtype: object
article_id         147
start_position    1285
end_position      1289
entity_text       這一年內
entity_type       time
Name: 5972, dtype: object