In [1]:
import pandas as pd
import re

In [2]:
def predicting_txt_to_dataframe(path):    
    with open(path, 'r') as f:
        txt = str(f.read())
        txt_list = txt.split('\n')
    row_list = list()
    tmp_list = list()
    for row in txt_list:
        if row == '--------------------':
            tmp_list[0] = tmp_list[0].replace('article_id:', '')
            tmp_list[0] = int(tmp_list[0])
            row_list.append(tmp_list)
            tmp_list = list()
            continue
        if len(row) > 0:
            tmp_list.append(row)
    df = pd.DataFrame(row_list, columns=['article_id','text'])
    return df

In [3]:
df = predicting_txt_to_dataframe('/home/Danny/AI-CUP-2020/datasets/stage5/test.txt')
df

     article_id                                               text
0             0  醫師：最近人有沒有什麼不舒服？民眾：沒有。醫師：沒有喔。我們本來說要月，年底才打對不對？民眾...
1             1  醫師：要去上課嗎？民眾：沒有。這學期已經開始不上課了。醫師：啊今天的，呃，應該是昨天的抽血。...
2             2  醫師：後來那個吃藥沒有問題對不對？民眾：沒有。醫師：诶？你是打針的？民眾：對。醫師：阿身上有...
3             3  民眾：我自己昨天開始，一天吃一次一粒。醫師：一次一粒，減半量還好？民眾：阿可是……減到今天早...
4             4  醫師：喔，啊嘉明最近還好嗎？民眾：ＯＫ。醫師：啊今年的流感打了嗎？民眾：還沒。醫師：那我們今...
..          ...                                                ...
154         154  醫師：這個月還好嗎？民眾：就……醫師：這個月有去碰嗎？民眾：沒有，不去碰的時候就會覺得慾望非...
155         155  醫師：啊這個月還好嗎？民眾：還好啊。醫師：好，所以你反正天天吃啦齁？民眾：對。醫師：好，我們...
156         156  醫師：好那所以總之就是好，所以總之反正，總之就是……這這……就是反正你剩下的藥你就是……就是...
157         157  醫師：好，所以第一個月吃藥的狀況怎麼樣？民眾：嗯，吃藥狀況喔？醫師：嗯。民眾：就是吃了，一開...
158         158  個管師：你上次有領了啊哈。民眾：我知道啊。個管師：你怎麼就是用後不理了呢？民眾：不是……醫師...

[159 rows x 2 columns]

In [4]:
def get_identity_ID(article_id, text):
    output_str = str()
    entity_type = 'ID'
    source = '1-re'
    for match in re.finditer('[a-zA-Z]{1}[0-9]{9}', text):
        output_str += '{}\t{}\t{}\t{}\t{}\t{}\n'.format(article_id, match.start(), match.end(), match.group(), entity_type, source)
    return output_str

In [5]:
def get_phone_number(article_id, text):
    output_str = str()
    entity_type = 'contact'
    source = '1-re'
    for match in re.finditer('09[0-9]{8}', text):
        output_str += '{}\t{}\t{}\t{}\t{}\t{}\n'.format(article_id, match.start(), match.end(), match.group(), entity_type, source)
    return output_str

In [6]:
def get_ip_address(article_id, text):
    output_str = str()
    entity_type = 'contact'
    source = '1-re'
    for match in re.finditer('www[.[a-zA-Z]*]*', text):
        output_str += '{}\t{}\t{}\t{}\t{}\t{}\n'.format(article_id, match.start(), match.end(), match.group(), entity_type, source)
    return output_str

In [7]:
def get_date(article_id, text):
    output_str = str()
    entity_type = 'time'
    source = '1-re'
    for match in re.finditer('[0-9]{1,2}/[0-9]{1,2}', text):
        output_str += '{}\t{}\t{}\t{}\t{}\t{}\n'.format(article_id, match.start(), match.end(), match.group(), entity_type, source)
    return output_str

In [8]:
output_str = '{}\t{}\t{}\t{}\t{}\t{}\n'.format('article_id', 'start_position', 'end_position', 'entity_text', 'entity_type', 'source')
for article_id, text in zip(df['article_id'], df['text']):
    output_str += get_identity_ID(article_id, text)
    output_str += get_phone_number(article_id, text)
    output_str += get_ip_address(article_id, text)
    output_str += get_date(article_id, text)
print(output_str)

article_id	start_position	end_position	entity_text	entity_type	source
4	174	179	14/66	time	1-re
9	7	17	E127388873	ID	1-re
11	5191	5196	11/29	time	1-re
11	5210	5215	11/29	time	1-re
13	1273	1283	E137354975	ID	1-re
17	710	714	9/15	time	1-re
21	137	141	6/14	time	1-re
35	1801	1811	R103846354	ID	1-re
36	1115	1125	E183745524	ID	1-re
38	766	776	0935642234	contact	1-re
40	499	509	E184666204	ID	1-re
44	6	16	R113566480	ID	1-re
45	3210	3213	1/3	time	1-re
45	3217	3220	7/3	time	1-re
45	3224	3227	1/3	time	1-re
45	3231	3234	1/3	time	1-re
46	384	394	0933625337	contact	1-re
49	8	18	R113993846	ID	1-re
51	20	30	R334666726	ID	1-re
57	488	492	3/11	time	1-re
57	511	515	5/24	time	1-re
57	525	529	4/23	time	1-re
62	1894	1899	10/15	time	1-re
63	6	16	R234526780	ID	1-re
65	2301	2311	F178290737	ID	1-re
77	1209	1213	2/10	time	1-re
77	1690	1694	2/10	time	1-re
79	671	676	11/23	time	1-re
83	2115	2119	7/12	time	1-re
83	2126	2130	7/12	time	1-re
83	2137	2141	7/12	time	1-re
83	2160	2164	7/15	time	1-re
83	2181	2185	7/12	time	1-re
83	2188	2192	7/13	time	1-re
83	2193	2197	7/14	time	1-re
83	2204	2208	7/13	time	1-re
83	2209	2213	7/14	time	1-re
83	2290	2294	7/15	time	1-re
83	2381	2385	7/15	time	1-re
90	1525	1535	R223640298	ID	1-re
91	3	13	A184058370	ID	1-re
92	1423	1433	A148390275	ID	1-re
93	802	812	E128739467	ID	1-re
103	633	643	S137465537	ID	1-re
120	1768	1780	www.prep.com	contact	1-re
121	996	1006	A289370198	ID	1-re
126	743	753	R147380478	ID	1-re
142	15	25	R100382694	ID	1-re
143	808	818	0927773645	contact	1-re
146	6	16	E189370256	ID	1-re
153	1705	1708	1/3	time	1-re
153	1726	1729	1/3	time	1-re
153	1730	1733	1/3	time	1-re
158	1380	1390	A124699678	ID	1-re

In [9]:
with open('regular_expression.tsv', 'w', encoding='utf-8') as f:
    f.write(output_str)

In [10]:
df = pd.read_csv('regular_expression.tsv', sep='\t')
df

    article_id  start_position  end_position   entity_text entity_type source
0            4             174           179         14/66        time   1-re
1            9               7            17    E127388873          ID   1-re
2           11            5191          5196         11/29        time   1-re
3           11            5210          5215         11/29        time   1-re
4           13            1273          1283    E137354975          ID   1-re
5           17             710           714          9/15        time   1-re
6           21             137           141          6/14        time   1-re
7           35            1801          1811    R103846354          ID   1-re
8           36            1115          1125    E183745524          ID   1-re
9           38             766           776    0935642234     contact   1-re
10          40             499           509    E184666204          ID   1-re
11          44               6            16    R113566480          ID   1-re
12          45            3210          3213           1/3        time   1-re
13          45            3217          3220           7/3        time   1-re
14          45            3224          3227           1/3        time   1-re
15          45            3231          3234           1/3        time   1-re
16          46             384           394    0933625337     contact   1-re
17          49               8            18    R113993846          ID   1-re
18          51              20            30    R334666726          ID   1-re
19          57             488           492          3/11        time   1-re
20          57             511           515          5/24        time   1-re
21          57             525           529          4/23        time   1-re
22          62            1894          1899         10/15        time   1-re
23          63               6            16    R234526780          ID   1-re
24          65            2301          2311    F178290737          ID   1-re
25          77            1209          1213          2/10        time   1-re
26          77            1690          1694          2/10        time   1-re
27          79             671           676         11/23        time   1-re
28          83            2115          2119          7/12        time   1-re
29          83            2126          2130          7/12        time   1-re
30          83            2137          2141          7/12        time   1-re
31          83            2160          2164          7/15        time   1-re
32          83            2181          2185          7/12        time   1-re
33          83            2188          2192          7/13        time   1-re
34          83            2193          2197          7/14        time   1-re
35          83            2204          2208          7/13        time   1-re
36          83            2209          2213          7/14        time   1-re
37          83            2290          2294          7/15        time   1-re
38          83            2381          2385          7/15        time   1-re
39          90            1525          1535    R223640298          ID   1-re
40          91               3            13    A184058370          ID   1-re
41          92            1423          1433    A148390275          ID   1-re
42          93             802           812    E128739467          ID   1-re
43         103             633           643    S137465537          ID   1-re
44         120            1768          1780  www.prep.com     contact   1-re
45         121             996          1006    A289370198          ID   1-re
46         126             743           753    R147380478          ID   1-re
47         142              15            25    R100382694          ID   1-re
48         143             808           818    0927773645     contact   1-re
49         146               6            16    E189370256          ID   1-re
50         153            1705          1708           1/3        time   1-re
51         153            1726          1729           1/3        time   1-re
52         153            1730          1733           1/3        time   1-re
53         158            1380          1390    A124699678          ID   1-re