In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('ckip_name.csv')
df1

    entity_text
0             黃
1             劉
2           格里曼
3            費德
4            阿B
..          ...
165         阿如果
166          大明
167         王龍龍
168          阿什
169          小安

[170 rows x 1 columns]

In [3]:

df2 = pd.read_csv('ckip_name2.csv')
df2

    entity_text
0             黃
1             劉
2           格里曼
3            費德
4            阿B
..          ...
165         阿如果
166          大明
167         王龍龍
168          阿什
169          小安

[170 rows x 1 columns]

In [9]:
for i, j in zip(df1['entity_text'], df2['entity_text']):
    if i != j:
        print(i, j)

游 波斯命
波斯命 游