In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../datasets/stage1/SampleData_deid.csv')
df2 = pd.read_csv('../datasets/stage2/train_1_update.csv')
df4 = pd.read_csv('../datasets/stage4/train_2.csv')

In [17]:
df = pd.concat([df1, df2, df4])

In [18]:
df.describe()

        article_id  start_position  end_position
count  6413.000000     6413.000000   6413.000000
mean     82.905037     1280.374864   1283.043661
std      56.638811     1229.257925   1229.193969
min       0.000000        3.000000      5.000000
25%      33.000000      381.000000    385.000000
50%      83.000000      969.000000    972.000000
75%     125.000000     1740.000000   1742.000000
max     199.000000     7575.000000   7580.000000

In [19]:
df = df.drop_duplicates()
df.describe()

        article_id  start_position  end_position
count  4462.000000     4462.000000   4462.000000
mean     93.342896     1277.288884   1279.764231
std      60.441459     1222.250349   1222.147787
min       0.000000        3.000000      5.000000
25%      35.250000      402.500000    406.000000
50%     104.000000      978.000000    981.000000
75%     146.000000     1735.000000   1737.500000
max     199.000000     7575.000000   7580.000000

In [24]:
df

,text,article_id,start_position,end_position,entity_text,entity_type
0,醫師：你有做超音波嘛，那我們來看報告，有些部分有紅字耶。民眾：紅字是甚麼意思？醫師：就是肝功...,0,55,57,68,med_exam
1,醫師：你有做超音波嘛，那我們來看報告，有些部分有紅字耶。民眾：紅字是甚麼意思？醫師：就是肝功...,0,66,68,68,med_exam
2,醫師：你有做超音波嘛，那我們來看報告，有些部分有紅字耶。民眾：紅字是甚麼意思？醫師：就是肝功...,0,1264,1271,10.78公分,med_exam
3,醫師：你有做超音波嘛，那我們來看報告，有些部分有紅字耶。民眾：紅字是甚麼意思？醫師：就是肝功...,0,1358,1361,三多路,location
4,醫師：你有做超音波嘛，那我們來看報告，有些部分有紅字耶。民眾：紅字是甚麼意思？醫師：就是肝功...,0,1374,1378,長庚醫院,location
...,...,...,...,...,...,...
3826,醫師：你那個膿還是會痛？民眾：對。醫師：發炎指數很好。民眾：多少？醫師：1.7，1.7正常，...,199,36,39,1.7,med_exam
3827,醫師：你那個膿還是會痛？民眾：對。醫師：發炎指數很好。民眾：多少？醫師：1.7，1.7正常，...,199,40,43,1.7,med_exam
3828,醫師：你那個膿還是會痛？民眾：對。醫師：發炎指數很好。民眾：多少？醫師：1.7，1.7正常，...,199,48,51,9.0,med_exam
3829,醫師：你那個膿還是會痛？民眾：對。醫師：發炎指數很好。民眾：多少？醫師：1.7，1.7正常，...,199,53,56,1.7,med_exam
3830,醫師：你那個膿還是會痛？民眾：對。醫師：發炎指數很好。民眾：多少？醫師：1.7，1.7正常，...,199,1065,1067,小美,name

In [47]:
x = df[['text']]
y = df[['start_position', 'end_position', 'entity_text', 'entity_type']]

In [48]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [52]:
x

                                                   text
0     醫師：你有做超音波嘛，那我們來看報告，有些部分有紅字耶。民眾：紅字是甚麼意思？醫師：就是肝功...
1     醫師：你有做超音波嘛，那我們來看報告，有些部分有紅字耶。民眾：紅字是甚麼意思？醫師：就是肝功...
2     醫師：你有做超音波嘛，那我們來看報告，有些部分有紅字耶。民眾：紅字是甚麼意思？醫師：就是肝功...
3     醫師：你有做超音波嘛，那我們來看報告，有些部分有紅字耶。民眾：紅字是甚麼意思？醫師：就是肝功...
4     醫師：你有做超音波嘛，那我們來看報告，有些部分有紅字耶。民眾：紅字是甚麼意思？醫師：就是肝功...
...                                                 ...
3826  醫師：你那個膿還是會痛？民眾：對。醫師：發炎指數很好。民眾：多少？醫師：1.7，1.7正常，...
3827  醫師：你那個膿還是會痛？民眾：對。醫師：發炎指數很好。民眾：多少？醫師：1.7，1.7正常，...
3828  醫師：你那個膿還是會痛？民眾：對。醫師：發炎指數很好。民眾：多少？醫師：1.7，1.7正常，...
3829  醫師：你那個膿還是會痛？民眾：對。醫師：發炎指數很好。民眾：多少？醫師：1.7，1.7正常，...
3830  醫師：你那個膿還是會痛？民眾：對。醫師：發炎指數很好。民眾：多少？醫師：1.7，1.7正常，...

[4462 rows x 1 columns]

In [46]:
y

      start_position  end_position entity_text entity_type
0                 55            57          68    med_exam
1                 66            68          68    med_exam
2               1264          1271     10.78公分    med_exam
3               1358          1361         三多路    location
4               1374          1378        長庚醫院    location
...              ...           ...         ...         ...
3826              36            39         1.7    med_exam
3827              40            43         1.7    med_exam
3828              48            51         9.0    med_exam
3829              53            56         1.7    med_exam
3830            1065          1067          小美        name

[4462 rows x 4 columns]

In [ ]:
# 重新定義資料結構