In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('entity_type.csv')
df

       entity_type
0         med_exam
1         location
2             time
3       profession
4             name
5            money
6     organization
7           family
8               ID
9   clinical_event
10       education
11         contact
12          others