In [1]:
import pandas as pd

In [2]:
ensemble_df = pd.DataFrame(columns=['article_id', 'start_position', 'end_position', 'entity_text', 'entity_type', 'source'])
ensemble_df

Empty DataFrame
Columns: [article_id, start_position, end_position, entity_text, entity_type, source]
Index: []

In [3]:
bert_df = pd.read_csv('/home/Danny/AI-CUP-2020/danny/bert/output/bert-chinese_epoch_512_batch_1024.tsv', sep='\t')
bert_df['source'] = '3-bert'
bert_df

      article_id  start_position  end_position entity_text entity_type  source
0              0              36            38          年底        time  3-bert
1              0             113           115          今天        time  3-bert
2              0             198           200          新樓    location  3-bert
3              0             227           229          麻豆    location  3-bert
4              0             237           239          麻豆    location  3-bert
...          ...             ...           ...         ...         ...     ...
3095         158            1074          1076          今天        time  3-bert
3096         158            1082          1086        第三個月        time  3-bert
3097         158            1143          1145          今天        time  3-bert
3098         158            1199          1201          小安        name  3-bert
3099         158            1381          1390   124699678    med_exam  3-bert

[3100 rows x 6 columns]

In [4]:
# entity_type_list = pd.unique(bert_df['entity_type']).tolist()
# for entity_type in entity_type_list:
#     bert_df[bert_df['entity_type'] == entity_type].to_csv('bert/{}.tsv'.format(entity_type), sep='\t', index=False)

In [5]:
bert_df = bert_df.drop(bert_df[bert_df['entity_type'] == 'ID'].index)
bert_df = bert_df.drop(bert_df[bert_df['entity_type'] == 'contact'].index)
bert_df

      article_id  start_position  end_position entity_text entity_type  source
0              0              36            38          年底        time  3-bert
1              0             113           115          今天        time  3-bert
2              0             198           200          新樓    location  3-bert
3              0             227           229          麻豆    location  3-bert
4              0             237           239          麻豆    location  3-bert
...          ...             ...           ...         ...         ...     ...
3095         158            1074          1076          今天        time  3-bert
3096         158            1082          1086        第三個月        time  3-bert
3097         158            1143          1145          今天        time  3-bert
3098         158            1199          1201          小安        name  3-bert
3099         158            1381          1390   124699678    med_exam  3-bert

[3059 rows x 6 columns]

In [6]:
re_df = pd.read_csv('/home/Danny/AI-CUP-2020/regular_expression/regular_expression.tsv', sep='\t')
re_df

    article_id  start_position  end_position   entity_text entity_type source
0            4             174           179         14/66        time   1-re
1            9               7            17    E127388873          ID   1-re
2           11            5191          5196         11/29        time   1-re
3           11            5210          5215         11/29        time   1-re
4           13            1273          1283    E137354975          ID   1-re
5           17             710           714          9/15        time   1-re
6           21             137           141          6/14        time   1-re
7           35            1801          1811    R103846354          ID   1-re
8           36            1115          1125    E183745524          ID   1-re
9           38             766           776    0935642234     contact   1-re
10          40             499           509    E184666204          ID   1-re
11          44               6            16    R113566480          ID   1-re
12          45            3210          3213           1/3        time   1-re
13          45            3217          3220           7/3        time   1-re
14          45            3224          3227           1/3        time   1-re
15          45            3231          3234           1/3        time   1-re
16          46             384           394    0933625337     contact   1-re
17          49               8            18    R113993846          ID   1-re
18          51              20            30    R334666726          ID   1-re
19          57             488           492          3/11        time   1-re
20          57             511           515          5/24        time   1-re
21          57             525           529          4/23        time   1-re
22          62            1894          1899         10/15        time   1-re
23          63               6            16    R234526780          ID   1-re
24          65            2301          2311    F178290737          ID   1-re
25          77            1209          1213          2/10        time   1-re
26          77            1690          1694          2/10        time   1-re
27          79             671           676         11/23        time   1-re
28          83            2115          2119          7/12        time   1-re
29          83            2126          2130          7/12        time   1-re
30          83            2137          2141          7/12        time   1-re
31          83            2160          2164          7/15        time   1-re
32          83            2181          2185          7/12        time   1-re
33          83            2188          2192          7/13        time   1-re
34          83            2193          2197          7/14        time   1-re
35          83            2204          2208          7/13        time   1-re
36          83            2209          2213          7/14        time   1-re
37          83            2290          2294          7/15        time   1-re
38          83            2381          2385          7/15        time   1-re
39          90            1525          1535    R223640298          ID   1-re
40          91               3            13    A184058370          ID   1-re
41          92            1423          1433    A148390275          ID   1-re
42          93             802           813   E1287394675          ID   1-re
43         103             633           643    S137465537          ID   1-re
44         120            1768          1780  www.prep.com     contact   1-re
45         121             996          1006    A289370198          ID   1-re
46         126             743           753    R147380478          ID   1-re
47         142              15            25    R100382694          ID   1-re
48         143             808           818    0927773645     contact   1-re
49         146               6            16    E189370256          ID   1-re
50         153            1705          1708           1/3        time   1-re
51         153            1726          1729           1/3        time   1-re
52         153            1730          1733           1/3        time   1-re
53         158            1380          1390    A124699678          ID   1-re

In [7]:
dict_df = pd.read_csv('/home/Danny/AI-CUP-2020/dictionary/dictionary.tsv', sep='\t')
dict_df

      article_id  start_position  end_position entity_text entity_type  source
0              0              36            38          年底        time  2-dict
1              0             113           115          今天        time  2-dict
2              0             227           229          麻豆    location  2-dict
3              0             237           239          麻豆    location  2-dict
4              0             295           297          今年        time  2-dict
...          ...             ...           ...         ...         ...     ...
3737         158            1113          1116         下個月        time  2-dict
3738         158            1143          1145          今天        time  2-dict
3739         158            1199          1201          小安        name  2-dict
3740         158            1353          1355          今天        time  2-dict
3741         158            1489          1491          明年        time  2-dict

[3742 rows x 6 columns]

In [8]:
ensemble_df = ensemble_df.append(bert_df, ignore_index=True)
ensemble_df = ensemble_df.append(re_df, ignore_index=True)
ensemble_df = ensemble_df.append(dict_df, ignore_index=True)
ensemble_df

     article_id start_position end_position entity_text entity_type  source
0             0             36           38          年底        time  3-bert
1             0            113          115          今天        time  3-bert
2             0            198          200          新樓    location  3-bert
3             0            227          229          麻豆    location  3-bert
4             0            237          239          麻豆    location  3-bert
...         ...            ...          ...         ...         ...     ...
6850        158           1113         1116         下個月        time  2-dict
6851        158           1143         1145          今天        time  2-dict
6852        158           1199         1201          小安        name  2-dict
6853        158           1353         1355          今天        time  2-dict
6854        158           1489         1491          明年        time  2-dict

[6855 rows x 6 columns]

In [9]:
ensemble_df = ensemble_df.sort_values(by=['article_id', 'start_position', 'source'])
ensemble_df

     article_id start_position end_position entity_text entity_type  source
3113          0             36           38          年底        time  2-dict
0             0             36           38          年底        time  3-bert
3114          0            113          115          今天        time  2-dict
1             0            113          115          今天        time  3-bert
2             0            198          200          新樓    location  3-bert
...         ...            ...          ...         ...         ...     ...
3057        158           1199         1201          小安        name  3-bert
6853        158           1353         1355          今天        time  2-dict
3112        158           1380         1390  A124699678          ID    1-re
3058        158           1381         1390   124699678    med_exam  3-bert
6854        158           1489         1491          明年        time  2-dict

[6855 rows x 6 columns]

In [10]:
ensemble_df[ensemble_df.duplicated(keep=False, subset=['article_id', 'start_position'])]

     article_id start_position end_position entity_text entity_type  source
3113          0             36           38          年底        time  2-dict
0             0             36           38          年底        time  3-bert
3114          0            113          115          今天        time  2-dict
1             0            113          115          今天        time  3-bert
3115          0            227          229          麻豆    location  2-dict
...         ...            ...          ...         ...         ...     ...
3055        158           1082         1086        第三個月        time  3-bert
6851        158           1143         1145          今天        time  2-dict
3056        158           1143         1145          今天        time  3-bert
6852        158           1199         1201          小安        name  2-dict
3057        158           1199         1201          小安        name  3-bert

[4532 rows x 6 columns]

In [11]:
ensemble_df = ensemble_df.drop_duplicates(keep='first', subset=['article_id', 'start_position'])
ensemble_df

     article_id start_position end_position entity_text entity_type  source
3113          0             36           38          年底        time  2-dict
3114          0            113          115          今天        time  2-dict
2             0            198          200          新樓    location  3-bert
3115          0            227          229          麻豆    location  2-dict
3116          0            237          239          麻豆    location  2-dict
...         ...            ...          ...         ...         ...     ...
6852        158           1199         1201          小安        name  2-dict
6853        158           1353         1355          今天        time  2-dict
3112        158           1380         1390  A124699678          ID    1-re
3058        158           1381         1390   124699678    med_exam  3-bert
6854        158           1489         1491          明年        time  2-dict

[4579 rows x 6 columns]

In [12]:
ensemble_df[ensemble_df.duplicated(keep=False, subset=['article_id', 'start_position'])]

Empty DataFrame
Columns: [article_id, start_position, end_position, entity_text, entity_type, source]
Index: []

In [13]:
ensemble_df[ensemble_df.duplicated(keep=False, subset=['article_id', 'end_position'])]

     article_id start_position end_position entity_text entity_type  source
20            1            497          500         劉老師        name  3-bert
3125          1            498          500          老師  profession  2-dict
59            4            173          179      114/66    med_exam  3-bert
3059          4            174          179       14/66        time    1-re
128           6            406          410        三、四週        time  3-bert
...         ...            ...          ...         ...         ...     ...
2979        155           1780         1784        兩個禮拜        time  3-bert
2997        157             93           99      一、兩個小時        time  3-bert
6767        157             95           99        兩個小時        time  2-dict
3112        158           1380         1390  A124699678          ID    1-re
3058        158           1381         1390   124699678    med_exam  3-bert

[248 rows x 6 columns]

In [14]:
ensemble_df = ensemble_df.drop_duplicates(keep='first', subset=['article_id', 'end_position'])
ensemble_df

     article_id start_position end_position entity_text entity_type  source
3113          0             36           38          年底        time  2-dict
3114          0            113          115          今天        time  2-dict
2             0            198          200          新樓    location  3-bert
3115          0            227          229          麻豆    location  2-dict
3116          0            237          239          麻豆    location  2-dict
...         ...            ...          ...         ...         ...     ...
6851        158           1143         1145          今天        time  2-dict
6852        158           1199         1201          小安        name  2-dict
6853        158           1353         1355          今天        time  2-dict
3112        158           1380         1390  A124699678          ID    1-re
6854        158           1489         1491          明年        time  2-dict

[4455 rows x 6 columns]

In [15]:
ensemble_df[ensemble_df.duplicated(keep=False, subset=['article_id', 'end_position'])]

Empty DataFrame
Columns: [article_id, start_position, end_position, entity_text, entity_type, source]
Index: []

In [16]:
ensemble_df = ensemble_df.drop(columns=['source'])
ensemble_df = ensemble_df.drop_duplicates()
ensemble_df

     article_id start_position end_position entity_text entity_type
3113          0             36           38          年底        time
3114          0            113          115          今天        time
2             0            198          200          新樓    location
3115          0            227          229          麻豆    location
3116          0            237          239          麻豆    location
...         ...            ...          ...         ...         ...
6851        158           1143         1145          今天        time
6852        158           1199         1201          小安        name
6853        158           1353         1355          今天        time
3112        158           1380         1390  A124699678          ID
6854        158           1489         1491          明年        time

[4455 rows x 5 columns]

In [17]:
ensemble_df.to_csv('ensemble/ensemble_all.tsv', sep='\t', index=False)
entity_type_list = pd.unique(ensemble_df['entity_type']).tolist()
for entity_type in entity_type_list:
    ensemble_df[ensemble_df['entity_type'] == entity_type].to_csv('ensemble/{}.tsv'.format(entity_type), sep='\t', index=False)